.man{
    position: relative;   
}

.element{
    position: absolute; 
    top: 0;
    width: 500px;
    animation: move 2.5s linear infinite;
}

@media only screen and (max-width: 576px) {
    .element{
        margin-top: 400px;
        width: 75%;
        margin-left: 30px;
    }
    .man{
        margin-left: 40px;
        width:100%;
    }
  }

@keyframes move {
    0%{
       transform: translate(-15px, 0px); 
    }
    50%{
       transform: translate(0px, -15px); 
    }
    100%{
       transform: translate(-15px, 0px); 
    }
}